In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from datetime import datetime

In [4]:
data = pd.read_csv('movie_bd_v5.csv')
#data.sample(5)

In [5]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [162]:
answers = {} # создадим словарь для ответов

#Функция: Разобьем строку на элементы
def split_val(imdb_id, val):
    df_result = pd.DataFrame(columns=['imdb_id', 'val'])
    df_elements = val.split('|')
    i = 0
    for i in range(len(df_elements)):
        tmp_= pd.DataFrame([[imdb_id, df_elements[i]]], columns=['imdb_id', 'val'])
        df_result = pd.concat([df_result,tmp_])
    return df_result

#Функция: Разобьем строку с актерами на пары
def find_pair(imdb_id, cast):
    df_result = pd.DataFrame(columns=['imdb_id', 'cast1', 'cast2'])
    df_elements = cast.split('|')
    i = 0
    while i <= len(df_elements):
        j = i + 1
        while j < len(df_elements):
            df_result = df_result.append({'imdb_id': imdb_id, 'cast1': df_elements[i], 'cast2': df_elements[j]}, ignore_index=True)
            j += 1
        i += 1   
    return df_result.values

#Функция: Получим месяц из даты
def get_month(date_string):
    date_obj = datetime.strptime(date_string, '%m/%d/%Y') 
    return date_obj.month

#Функция: Поиск длины предложения
def get_string_len(string):
    return len(string)

#Функция: Поиск кол-ва слов в строке
def get_words_cnt(string):
    t_words = string.split(' ')
    return len(t_words)

def format_result(val):
    return f'{val.name}. {val.values[1]} ({val.values[0]})'

####################################################################
# Заполним индексные таблицы ждя последующего использования


# 1) Актеры
casts_list = pd.DataFrame()

for data_line in data.apply(lambda x: split_val(x['imdb_id'], x['cast']), axis = 1):
    casts_list = pd.concat([casts_list, data_line]) 
    
casts_list = pd.DataFrame(casts_list).reset_index(drop=True)
casts_list = casts_list.rename(columns={'val':'cast'})

# 2) Режисеры
directors_list = pd.DataFrame()

for data_line in data.apply(lambda x: split_val(x['imdb_id'], x['director']), axis = 1):
    directors_list = pd.concat([directors_list, data_line]) 
    
directors_list = pd.DataFrame(directors_list).reset_index(drop=True)
directors_list = directors_list.rename(columns={'val':'director'})

# 3) Жанры
genres_list = pd.DataFrame()

for data_line in data.apply(lambda x: split_val(x['imdb_id'], x['genres']), axis = 1):
    genres_list = pd.concat([genres_list, data_line]) 
    
genres_list = pd.DataFrame(genres_list).reset_index(drop=True)
genres_list = genres_list.rename(columns={'val':'genres'})

# 4) Студии
production_list = pd.DataFrame()

for data_line in data.apply(lambda x: split_val(x['imdb_id'], x['production_companies']), axis = 1):
    production_list = pd.concat([production_list, data_line]) 
    
production_list = pd.DataFrame(production_list).reset_index(drop=True)
production_list = production_list.rename(columns={'val':'production_companies'})

####################################################################        
        
# Обогащение данных: Расчитаем прибыль в основном наборе данных
data['profit'] = data['revenue'] - data['budget']
# Обогащение данных: заполним месяц из даты выпуска фильма
data['date_month'] = list(map(get_month, data['release_date']))
# Обогащение данных: заполним длину названия фильма
data['original_title_len']=list(map(get_string_len, data['original_title']))
# Обогащение данных: заполним кол-во слов в описании
data['overview_words_cnt']=list(map(get_words_cnt, data['overview']))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [124]:
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +

In [125]:
# тут пишем ваш код для решения данного вопроса:
question1_res = data[data['budget']==data['budget'].max()][['imdb_id','original_title']]
answers['1'] = f'{question1_res.index[0]}. {question1_res.iloc[0,1]} ({question1_res.iloc[0,0]})'

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [126]:
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [127]:
question2_res = data[data['runtime']==data['runtime'].max()][['imdb_id','original_title']]
answers['2'] = f'{question2_res.index[0]}. {question2_res.iloc[0,1]} ({question2_res.iloc[0,0]})'

# 3. Какой из фильмов самый короткий (в минутах)?

In [128]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

In [129]:
question3_res = data[data['runtime']==data['runtime'].min()][['imdb_id','original_title']]
answers['3'] = f'{question3_res.index[0]}. {question3_res.iloc[0,1]} ({question3_res.iloc[0,0]})'

# 4. Какова средняя длительность фильмов?

In [130]:
answers['4'] = '110'

In [131]:
answers['4'] = np.round(data['runtime'].mean())

# 5. Каково медианное значение длительности фильмов?

In [132]:
answers['5'] = '107'

In [133]:
answers['5'] = np.round(data['runtime'].median())

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [134]:
answers['6'] = '239. Avatar (tt0499549)'

In [23]:
answers['6'] = format_result(data[data['profit']==data['profit'].max()][['imdb_id','original_title']].iloc[0])

# 7. Какой фильм самый убыточный?

In [136]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

In [26]:
answers['7'] = format_result(data[data['profit']==data['profit'].min()][['imdb_id','original_title']].iloc[0])

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [138]:
answers['8'] = '1478'

In [139]:
answers['8'] = data[data['revenue']>data['budget']]['imdb_id'].nunique()

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [140]:
answers['9'] = '599. The Dark Knight (tt0468569)'

In [61]:
# Получим данные за 2008 год
data_by_years = pd.pivot_table(data, values = 'revenue', index = ['release_year','imdb_id'], aggfunc = 'sum')
answers['9'] = format_result(data[data['imdb_id']==data_by_years.loc[2008].idxmax()[0]][['imdb_id','original_title']].iloc[0])

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [142]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'

In [65]:
answers['10'] = format_result(data.iloc[data.query('release_year >= 2012 and release_year <= 2014')['profit'].idxmin()][['imdb_id', 'original_title']])

# 11. Какого жанра фильмов больше всего?

In [ ]:
answers['11'] = 'Drama'

In [67]:
# Используем индексную таблицу 
answers['11'] = genres_list.groupby('genres')['imdb_id'].count().idxmax()

ВАРИАНТ 2

In [68]:
genres_cnt = {}
for data_line in data.values:
    for genres in data_line[9].split('|'):
        if genres in genres_cnt:
            genres_cnt[genres] += 1
        else:
            genres_cnt[genres] = 1 
            
answers['11'] = pd.DataFrame.from_dict(genres_cnt, orient='index', columns=['cnt']).idxmax()[0]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [69]:
genres_cnt = {}
for data_line in data.values:
    if data_line[14] > 0: # Прибыльный фильм
        for genres in data_line[9].split('|'):
            if genres in genres_cnt:
                genres_cnt[genres] += 1
            else:
                genres_cnt[genres] = 1 
answers['12'] = pd.DataFrame.from_dict(genres_cnt, orient='index', columns=['cnt']).idxmax()[0]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [73]:
answers['13'] = 'Peter Jackson'

q13_data = pd.DataFrame()

for line in data.values:
    for element in line[5].split('|'):
            new_line = pd.Series([line[0], element, line[2]], index=['imdb_id','director','revenue'])
            q13_data = q13_data.append([new_line], ignore_index=True)

q13_directors = q13_data.groupby(['director']).sum()
answers['13'] = q13_directors.groupby(['director']).sum()['revenue'].idxmax()

ВАРИАНТ 2

In [72]:
answers['13'] = pd.pivot_table(data, values='revenue', index='director',aggfunc='sum').idxmax()[0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [91]:
answers['14'] = 'Robert Rodriguez'

q14_data = pd.DataFrame(columns=['imdb_id','director'])

for line in data[data.genres.str.contains('Action', na=False)].values:
    for element in line[5].split('|'):
        new_line = pd.Series([line[0], element], index=['imdb_id','director'])
        q14_data = q14_data.append([new_line], ignore_index=True)

answers['14'] = q14_data.groupby(['director']).count().idxmax()[0]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [77]:
answers['15'] = 'Chris Hemsworth'

In [78]:
q15_data = pd.DataFrame()
q15_data = data.query('release_year == 2012')[['imdb_id','revenue']].join(casts_list.set_index('imdb_id'), on = 'imdb_id', how='inner')
answers['15'] = q15_data.groupby(['cast']).sum()['revenue'].idxmax()

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [80]:
answers['16'] = 'Matt Damon'

In [90]:
q16_data = pd.DataFrame()

q16_data = data[data['budget'] > data['budget'].mean()][['imdb_id', 'budget']].join(casts_list.set_index('imdb_id'), on='imdb_id', how='inner')
answers['16'] = q16_data.groupby(['cast']).count().idxmax()[0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [92]:
answers['17'] = 'Action'

NC_Films_by_genres = casts_list.query('cast=="Nicolas Cage"').join(genres_list.set_index('imdb_id'), on='imdb_id', how='inner')
answers['17'] = NC_Films_by_genres.groupby(['genres']).count()['imdb_id'].idxmax()

# 18. Самый убыточный фильм от Paramount Pictures

In [114]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

q18_tmp = data[data.production_companies.str.contains('Paramount Pictures', na=False)] # Все фильмы Paramount
q18res = q18_tmp[q18_tmp['profit'] == q18_tmp['profit'].min()].iloc[0] # Найдем самый убыточный фильм
answers['18'] = f'{q18res.original_title}({q18res.imdb_id})' # Результат

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [118]:
answers['19'] = '2015'

In [119]:
answers['19'] = pd.pivot_table(data[['release_year', 'revenue']], index='release_year',values='revenue', aggfunc='sum')['revenue'].idxmax()

# 20. Какой самый прибыльный год для студии Warner Bros?

In [120]:
answers['20'] = '2014'

In [121]:
answers['20'] = pd.pivot_table(data[data.production_companies.str.contains('Warner Bros')][['release_year', 'profit']], index='release_year',values='profit', aggfunc='sum')['profit'].idxmax()

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [123]:
answers['21'] = '9'

In [124]:
answers['21'] = pd.pivot_table(data[['imdb_id', 'date_month']], index='date_month',values='imdb_id', aggfunc='count').idxmax()[0]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [126]:
answers['22'] = '450'

In [127]:
count_by_month = pd.pivot_table(data[['imdb_id', 'date_month']], index='date_month',values='imdb_id', aggfunc='count')
answers['22'] = count_by_month.loc[[6,7,8]].sum()[0]

# 23. Для какого режиссера зима – самое продуктивное время года?

In [128]:
answers['23'] = 'Peter Jackson'

In [129]:
q23_tmp_data = pd.pivot_table(directors_list.join(data[['imdb_id', 'date_month']].set_index('imdb_id'), on='imdb_id', how='inner'), index=['director','date_month'],values='imdb_id', aggfunc='count')
answers['23'] = q23_tmp_data.query('date_month in (12,1,2)').groupby('director').sum()['imdb_id'].idxmax()

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [130]:
answers['24'] = 'Four By Two Productions'

In [131]:
q24data=production_list.join(data[['imdb_id', 'original_title','original_title_len']].set_index('imdb_id'), on='imdb_id', how='inner')
q24data_agg=pd.pivot_table(q24data, values=['imdb_id', 'original_title_len'], index='production_companies', aggfunc={'imdb_id':'count',
                                                                                                         'original_title_len':'sum'})
q24data_agg['title_mean']=q24data_agg['original_title_len']/q24data_agg['imdb_id']
answers['24'] = q24data_agg['title_mean'].idxmax()

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [132]:
answers['25'] = 'Midnight Picture Show'

In [133]:
q25data=production_list.join(data[['imdb_id', 'overview','overview_words_cnt']].set_index('imdb_id'), on='imdb_id', how='inner')
q25data_agg=pd.pivot_table(q25data, values=['imdb_id', 'overview_words_cnt'], index='production_companies', aggfunc={'imdb_id':'count', 'overview_words_cnt':'sum'})

q25data_agg['means']=q25data_agg['overview_words_cnt']/q25data_agg['imdb_id']
answers['25'] = q25data_agg[q25data_agg['means']==q25data_agg['means'].max()].iloc[0].name

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [134]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [135]:
q26_serias, q26_interval  = pd.qcut(data['vote_average'], [0.99, 1], retbins=True)
data[data['vote_average'] > q26_interval[0]]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,date_month,original_title_len,overview_words_cnt
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609,6,10,112
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758,10,4,49
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480,11,12,35
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399,7,23,28
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708,11,18,46
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363,10,9,30
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318,2,24,66
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000,7,9,44
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7,15,67
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577,9,11,39
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979,12,45,45
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694,12,23,29
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000,10,16,61
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096,10,7,78

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [163]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [167]:
# Построим таблицу с парами актеров 
pairs = pd.DataFrame()

for data_line in data.apply(lambda x: find_pair(x['imdb_id'], x['cast']), axis = 1):
    pairs = pd.concat([pairs, pd.DataFrame(data_line, columns=['imdb_id', 'cast1', 'cast2'])])
        
pairs_agg_val = pd.pivot_table(df_result, values='imdb_id', index=['cast1', 'cast2'], aggfunc={'imdb_id':'count'})
pairs_agg_val[pairs_agg_val['imdb_id']==pairs_agg_val['imdb_id'].max()]

                               imdb_id
cast1            cast2
Daniel Radcliffe Emma Watson         8
                 Rupert Grint        8

# Submission

In [160]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker(tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [161]:
# и убедиться что ни чего не пропустил)
len(answers)

21